[data-element-id="side-navbar"] {
    background: #2A3F54;
    min-height: 100%;
    width: 230px;
    padding: 0;
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    z-index: 1
}
[data-element-id="side-navbar"].collapsed {
    min-height: 100%;
    width: 70px;
    padding: 0;
    z-index: 9999;
    position: absolute;
}
@media (max-width: 991px) {
    [data-element-id="side-navbar"] {
        display: none;
    }
    [data-element-id="side-navbar"].collapsed {
        display: block;
    }
}

/* ===== */

/* ==== START: TITLE ==== */
[data-element-id="side-navbar"] .title {
    width: 230px;
    float: left;
    background: #2A3F54;
    border-radius: 0;
    height: 57px
}
[data-element-id="side-navbar"] .title > a {
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    color: #ECF0F1 !important;
    margin-left: 0 !important;
    line-height: 59px;
    display: block;
    height: 55px;
    margin: 0;
    padding-left: 10px;
    border: 0;
}
[data-element-id="side-navbar"] .title > a:hover,
[data-element-id="side-navbar"] .title > a:focus {
    text-decoration: none
}
[data-element-id="side-navbar"] .title > a > i {
    border: 1px solid #EAEAEA;
    padding: 5px 6px;
    border-radius: 50%
}
[data-element-id="side-navbar"].collapsed .title {
    width: 70px
}
[data-element-id="side-navbar"].collapsed .title > a > span {
    display: none
}
[data-element-id="side-navbar"].collapsed .title > a > i {
    font-size: 27px;
    margin: 13px 0 0 3px
}
/* ==== ENF: TITLE ==== */

/* ==== START: PROFILE ==== */
[data-element-id="side-navbar"] .profile > .picture {
    width: 35%;
    float: left;
}
[data-element-id="side-navbar"] .profile > .picture > img {
    width: 70%;
    background: #fff;
    margin-left: 15%;
    z-index: 1000;
    position: inherit;
    margin-top: 20px;
    border: 1px solid rgba(52, 73, 94, 0.44);
    padding: 4px
}
[data-element-id="side-navbar"] .profile > .info {
    padding: 25px 10px 10px;
    width: 65%;
    float: left
}
[data-element-id="side-navbar"] .profile > .info > span {
    font-size: 13px;
    line-height: 30px;
    color: #BAB8B8
}
[data-element-id="side-navbar"] .profile > .info > h2 {
    font-size: 14px;
    color: #ECF0F1;
    margin: 0;
    font-weight: 300
}
[data-element-id="side-navbar"].collapsed .profile {
    display: none
}
/* ==== END: PROFILE ==== */


/* ==== START: SIDEBAR ==== */
[data-element-id="side-navbar"] .side-navbar {
    padding: 0
}
[data-element-id="side-navbar"] .side-navbar i {
    width: 26px;
    opacity: .99;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
[data-element-id="side-navbar"] .side-navbar .label {
    line-height: 11px;
    margin-top: 4px;
}
[data-element-id="side-navbar"] .side-navbar > .section {
    margin-bottom: 35px
}
[data-element-id="side-navbar"] .side-navbar > .section > h3 {
    padding-left: 15px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 1px 1px #000
}
[data-element-id="side-navbar"] .side-navbar > .section > ul {
    margin-top: 10px
}
[data-element-id="side-navbar"] .side-navbar > .section > ul > li {
    position: relative;
    display: block;
    cursor: pointer
}
[data-element-id="side-navbar"] .side-navbar > .section > ul > li.current-page,
[data-element-id="side-navbar"] .side-navbar > .section > ul > li.active {
    border-right: 5px solid #1ABB9C
}
[data-element-id="side-navbar"] .side-navbar > .section > ul > li > a {
    margin-bottom: 6px;
    color: #E7E7E7;
    font-weight: 500
}
[data-element-id="side-navbar"] .side-navbar > .section > ul > li > a:hover {
    color: #F2F5F7 !important;
    text-decoration: none;
    background: transparent;
}
[data-element-id="side-navbar"] .side-navbar > .section > ul > li.active > a {
    text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
    background: linear-gradient(#334556, #2C4257), #2A3F54;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0
}
[data-element-id="side-navbar"] .side-navbar > .section > ul > li > ul {
    display: none
}
[data-element-id="side-navbar"] .side-navbar > .section > ul > li > ul > li:hover,
[data-element-id="side-navbar"] .side-navbar > .section > ul > li > ul > li.active {
    background-color: rgba(255, 255, 255, 0.06)
}
[data-element-id="side-navbar"] .side-navbar > .section > ul > li > ul > li {
    padding-left: 36px
}
[data-element-id="side-navbar"] .side-navbar > .section > ul > li > ul > li:before {
    background: #425668;
    bottom: auto;
    content: "";
    height: 8px;
    left: 23px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    border-radius: 50%
}
[data-element-id="side-navbar"] .side-navbar > .section > ul > li > ul > li:after {
    border-left: 1px solid #425668;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0
}
[data-element-id="side-navbar"] .side-navbar > .section > ul > li > ul > li:last-child::after {
  bottom: 50%;
}
[data-element-id="side-navbar"] .side-navbar > .section > ul > li > ul > li > a {
    color: #E7E7E7;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.75);
    font-size: 12px;
    padding: 9px
}
[data-element-id="side-navbar"] .side-navbar > .section > ul > li > ul > li > a {
    background-color: transparent;
}
[data-element-id="side-navbar"].collapsed .side-navbar > .section {
    margin: 0
}
[data-element-id="side-navbar"].collapsed .side-navbar > .section > h3 {
    display: none
}
[data-element-id="side-navbar"].collapsed .side-navbar > .section > ul > li > a {
    text-align: center !important;
    font-weight: 400;
    font-size: 10px;
    padding: 10px 5px
}
[data-element-id="side-navbar"].collapsed .side-navbar > .section > ul > li.active {
    border-right: 5px solid #1ABB9C
}
[data-element-id="side-navbar"].collapsed .side-navbar > .section > ul > li.active > a {
    color: #1ABB9C !important
}
[data-element-id="side-navbar"].collapsed .side-navbar > .section > ul > li > a > i.toggle-up {
    display: none !important
}
[data-element-id="side-navbar"].collapsed .side-navbar > .section > ul > li > a > i {
    font-size: 25px !important;
    text-align: center;
    width: 100% !important;
    margin-bottom: 5px
}
[data-element-id="side-navbar"].collapsed .side-navbar > .section > ul > li > a > i.hidden-close {
   display: none;
}
[data-element-id="side-navbar"].collapsed .side-navbar > .section > ul > li > ul > li.active {
    border-right: 5px solid #1ABB9C
}
[data-element-id="side-navbar"].collapsed .side-navbar > .section > ul > li > ul {
    left: 100%;
    position: absolute;
    top: 0;
    width: 210px;
    z-index: 4000;
    background: #3E5367;
    display: none
}
[data-element-id="side-navbar"].collapsed .side-navbar > .section > ul > li > ul > li {
    padding: 0 10px
}
[data-element-id="side-navbar"].collapsed .side-navbar > .section > ul > li > ul > li:before,
[data-element-id="side-navbar"].collapsed .side-navbar > .section > ul > li > ul > li:after
 {
    content: none;
}
[data-element-id="side-navbar"].collapsed .side-navbar > .section > ul > li > ul > li a {
    text-align: left !important
}
/* ==== END: SIDEBAR ==== */

/* ==== START: FOOTER ==== */
[data-element-id="side-navbar"] .sidebar-footer {
    bottom: 0px;
    clear: both;
    display: block;
    padding: 5px 0 0 0;
    position: fixed;
    width: 230px;
    background: #2A3F54;
	z-index:999;
}
[data-element-id="side-navbar"] .sidebar-footer a {
    padding: 7px 0 3px;
    text-align: center;
    width: 25%;
    font-size: 17px;
    display: block;
    float: left;
    background: #172D44;
    cursor: pointer;
}
[data-element-id="side-navbar"] .sidebar-footer a:hover {
    background: #425567
}
[data-element-id="side-navbar"].collapsed .sidebar-footer {
    display: none;
}
/* ==== END: SIDEBAR ==== */